@tailwind base;
@tailwind components;
@tailwind utilities;

/* Garantir que as cores sejam impressas */

.page-break-avoid {
  page-break-inside: avoid;
  margin-bottom: 16px;
}

* {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  color-adjust: exact;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  -webkit-print-color-adjust: exact;
}

body {
    padding: 10mm;
  }

@media print {
  body {
    padding: 0 !important;
  }
}